{% extends "base.html" %}

{% block content %}
  <div>
    <h3 class="page-title center" style="margin-bottom: 0px">DES</h3>
  </div>
  <div class="row"></div>
 

<div class="row">
	<div class="card col s12">
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#encrypt">Encrypt</a></li>
        <li class="tab"><a href="#decrypt">Decrypt</a></li>
        <li class="tab"><a href="#generate">Generate Key</a></li>
      </ul>
    </div>
    <div class="card-content">
      <div id="encrypt" class="row">
		<form class="" action="/des/encrypt" method="POST">
    	  <div class="row">
    	    <div class="input-field col s6 offset-s3">
    	      <i class="material-icons prefix">account_circle</i>
    	      <select id="mode" type="text" class="validate" name="mode" required>
				<option disabled selected></option>
				<option>CBC</option>
				<option>CTR</option>
				<option>OFB</option>
				<option>ECB</option>
			  </select>
    	      <label for="mode">Mode</label>
    	    </div>
    	  </div>
		  <div class="row">
      	    <div class="input-field col s6 offset-s3">
      	      <i class="material-icons prefix">vpn_key</i>
      	      <input id="key" type="text" class="validate" name="key" required>
      	      <label for="key">Key</label>
      	    </div>
      	  </div>
    	  <div class="row">
    	    <div class="input-field col s6 offset-s3">
    	      <i class="material-icons prefix">email</i>
			  <textarea id="message" name="message" class="materialize-textarea"></textarea>
    	      <label for="message">Message</label>
    	    </div>
    	  </div>
    	  <div class="row">
    	    <div class="center">
    	      <button class="btn waves-effect waves-light" type="submit" name="action">Encrypt
    	          <i class="material-icons right">send</i>
    	      </button>
    	    </div>
    	  </div>
    	</form>
	  </div>

	  <div id="decrypt" class="row">
		<form class="" action="/des/decrypt" method="POST">
    	  <div class="row">
    	    <div class="input-field col s6 offset-s3">
    	      <i class="material-icons prefix">account_circle</i>
    	      <select id="mode" type="text" class="validate" name="mode" required>
				<option disabled selected></option>
				<option>CBC</option>
				<option>CTR</option>
				<option>OFB</option>
				<option>ECB</option>
			  </select>
    	      <label for="mode">Mode</label>
    	    </div>
    	  </div>
		  <div class="row">
      	    <div class="input-field col s6 offset-s3">
      	      <i class="material-icons prefix">vpn_key</i>
      	      <input id="key" type="text" class="validate" name="key" required>
      	      <label for="key">Key</label>
      	    </div>
      	  </div>
    	  <div class="row">
    	    <div class="input-field col s6 offset-s3">
    	      <i class="material-icons prefix">email</i>
			  <textarea id="ciphertext" name="message" class="materialize-textarea"></textarea>
    	      <label for="ciphertext">Ciphertext</label>
    	    </div>
    	  </div>
    	  <div class="row">
    	    <div class="center">
    	      <button class="btn waves-effect waves-light" type="submit" name="action">Decrypt
    	          <i class="material-icons right">send</i>
    	      </button>
    	    </div>
    	  </div>
    	</form>
	  </div>

	  <div id="generate" class="row">
	  <form class="" action="/des/generate" method="POST">
		<div class="row">
		  <div class="center">
			<button class="btn waves-effect waves-light" type="submit" name="action">Generate Random Key
				<i class="material-icons right">send</i>
			</button>
		  </div>
		</div>
	  </form>
	</div> 
	<div class="divider"></div>
	<div class="row">
		<div class="input-field col s6 offset-s3">
		  <textarea disabled id="result" class="materialize-textarea"></textarea>
    	  <label for="result">Result</label>
    	</div>
	</div>

    </div>
  	</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
<script>
$('.tabs').tabs();
$('select').formSelect();
</script>
{% endblock %}
